{{!-- <h2 id="header-todaysWin">Today's Win</h2>

<form name="contact" method="POST" data-netlify="true" aria-labelledby="header-todaysWin">
  <div class="form-group">

  </div>
  <div class="form-group">     
    <label for="textarea-win">What's Today's Win?</label>
    <textarea name="textarea-win" id="textarea-win"></textarea>
  </div>
  <div class="form-group">
    <button type="submit">Add this win to the list!</button>
    <button type="reset">Reset form</button>
  </div>
</form> --}}

<Tooltip @textWithTooltip="I have a tooltip" @tooltipText="Tooltips provide additional context or additional help text for the user." />

<p>
  <Tooltip @textWithTooltip="I also have a tooltip" @tooltipText="surprise!" />
</p>